In [2]:
import pandas as pd
import numpy as np

cars_dictionary = {
    "Color" :["Red", "White", "Black", "White", "Blue", "Red", "Silver"],
    "HP" :[48, 335, 105, 87, 93, 80, 48],
    "Weight (KG)": [990, 2320, 1025, 1027, 1540, 960, 850],
    "price" :[33, 2400, 105, 120, 230, 68, 38]
}
df = pd.DataFrame(cars_dictionary, index=[ "Peykan", "BMW X6", "Peugeot 206", "Tiba", "Nissan Junior", "Peykan Vanet", "renault 5"] )
df

                Color   HP  Weight (KG)  price
Peykan            Red   48          990     33
BMW X6          White  335         2320   2400
Peugeot 206     Black  105         1025    105
Tiba            White   87         1027    120
Nissan Junior    Blue   93         1540    230
Peykan Vanet      Red   80          960     68
renault 5      Silver   48          850     38

In [5]:
df["HP"]

Peykan            48
BMW X6           335
Peugeot 206      105
Tiba              87
Nissan Junior     93
Peykan Vanet      80
renault 5         48
Name: HP, dtype: int64

In [6]:
df.Color

Peykan              Red
BMW X6            White
Peugeot 206       Black
Tiba              White
Nissan Junior      Blue
Peykan Vanet        Red
renault 5        Silver
Name: Color, dtype: object

In [7]:
for c in df.columns:
    print(c)
    print(df[c].count())

Color
7
HP
7
Weight (KG)
7
price
7

In [8]:
df[["Color" , "price"]]

                Color  price
Peykan            Red     33
BMW X6          White   2400
Peugeot 206     Black    105
Tiba            White    120
Nissan Junior    Blue    230
Peykan Vanet      Red     68
renault 5      Silver     38

In [9]:
df.iloc[3]

Color          White
HP                87
Weight (KG)     1027
price            120
Name: Tiba, dtype: object

In [10]:
df.loc["Tiba"]

Color          White
HP                87
Weight (KG)     1027
price            120
Name: Tiba, dtype: object

In [11]:
arr = np.arange(16).reshape(4, 4)
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [12]:
arr[2, 3]

np.int64(11)

In [13]:
df.iloc[2,3]

np.int64(105)

In [14]:
df.iloc[[2, 3], 1:3]

              HP  Weight (KG)
Peugeot 206  105         1025
Tiba          87         1027

In [15]:
df.loc["Peugeot 206", "price"]

np.int64(105)

In [16]:
df.loc[["Peugeot 206","Tiba"] , "HP":"price"]

              HP  Weight (KG)  price
Peugeot 206  105         1025    105
Tiba          87         1027    120

In [22]:
df.iloc[2,3]
df.iloc[[2, 3]]

             Color   HP  Weight (KG)  price
Peugeot 206  Black  105         1025    105
Tiba         White   87         1027    120