In [1]:
import pandas as pd
import numpy as np

In [2]:
s_int = pd.Series([1, 2, 3, 4, 5])
s_float = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5])
s_str = pd.Series(["golabi", "sib", "khiar"])

In [3]:
s_int

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
s_str

0    golabi
1       sib
2     khiar
dtype: object

In [5]:
s_str.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
s_int.values

array([1, 2, 3, 4, 5])

In [7]:
type(s_float.values)

numpy.ndarray

In [8]:
s_int.to_list()

[1, 2, 3, 4, 5]

In [9]:
np.max(s_int)

np.int64(5)

In [11]:
s = pd.Series([19, 16, 20], index=["a", "b", "c"])
s

a    19
b    16
c    20
dtype: int64

In [13]:
s.index = ["global", "sib", "shalil"]
s

global    19
sib       16
shalil    20
dtype: int64

In [19]:
s["sib"]
s["shalil"] = 19

In [20]:
purity_dictionary = {
    "Roozbeh" : 20,
    "golabi" : 19,
    "khiar" : 18
}

purity_dictionary = pd.Series(purity_dictionary)
purity_dictionary

Roozbeh    20
golabi     19
khiar      18
dtype: int64