<p> تا به این‌جای فصل با توابع مختلف پانداز برای تحلیل‌های مختلف آشنا شدیم، اما به‌طور معمول، برای انجام تحلیل‌های دقیق‌تر، نیاز به اطلاعاتی از دسته‌های مختلف داده‌ها داریم. برای مثال بار دیگر دیتافریم نمایشگاه ماشین‌ها را در نظر بگیرید:</p>

In [1]:
import pandas as pd
import numpy as np
cars_dictionary = {
    "model" :["Peykan", "Peykan", "Peykan", "BMW X6", "BMW X6", "BMW X6", "Nissan Junior", "Nissan Junior", "Nissan Junior", "Nissan Junior"],
    "Color" :["Red", "White", "Olive",  "Black", "Ametrine", "navy", "Blue", "White", "Blue", "Red"],
    "Weight (KG)" :[990, 1000, 990, 2320, 2320, 2220, 1540, 1540, 1600, 1540],
    "year" :[1346, 1357, 1388, 1391, 1393, 1393, 1375, 1383, 1375, 1389],
    "price" :[25, 30, 48, 2200, 4800, 4800, 105, 105, 130, 145]
}

cars_df = pd.DataFrame(cars_dictionary)
cars_df

           model     Color  Weight (KG)  year  price
0         Peykan       Red          990  1346     25
1         Peykan     White         1000  1357     30
2         Peykan     Olive          990  1388     48
3         BMW X6     Black         2320  1391   2200
4         BMW X6  Ametrine         2320  1393   4800
5         BMW X6      navy         2220  1393   4800
6  Nissan Junior      Blue         1540  1375    105
7  Nissan Junior     White         1540  1383    105
8  Nissan Junior      Blue         1600  1375    130
9  Nissan Junior       Red         1540  1389    145

<p>فرض کنید می‌خواهیم میانگین قیمت هر مدل ماشین را محاسبه کنیم. برای این کار چه می‌کنید؟</p>

<p>با آن که راه‌حلی که در بالا معرفی کردیم پاسخگو است اما وقتی به تحلیل‌های بیشتر و مرتب‌تری احتیاج داشته باشیم، این روش زمان‌گیر و پیچیده است. برای انجام ساده‌ی این عملیات، پانداز تابع groupby را معرفی کرده است. با این تابع، می‌توانیم داده‌ها را بر اساس کلیدهای مختلف گروه‌بندی کرده، و نتایجی را بر اساس هر گروه به‌دست آوریم. برای شروع به کارکرد این تابع دقت کنید:</p>

In [2]:
grouped = cars_df.groupby('model')
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

<p>در خط اول این کد، ستون ‍model دیتافریم، به عنوان کلید گروه‌بندی در نظر گرفته شده و ماشین‌هایی که مدل مشابهی دارند در یک دسته قرار می‌گیرند.

با بررسی type خروجی این تابع، به داده‌ساختار DataFrameGroupBy می‌رسیم که برای نگه‌داری اطلاعات گروه‌بندی شده‌ی دیتافریم‌ها به کار می‌رود.
متد‌ها و ویژگی‌های ساختار گروه‌بندی

همان‌طور که گفتیم، با اجرای کد cars_df.groupby('model')، داده‌ها بر اساس مدل گروه‌بندی می‌شوند؛ حال با ویژگی ngroups، می‌توانیم تعداد گروه‌های موجود در این داده‌ساختار را به‌دست آوریم.</p>

In [3]:
grouped.ngroups

3

<p>سلول بالا، عدد ۳ را خروجی داده که به معنای سه گروه با مدل‌های BMW X6، Nissan Junior و Peykan است که در دیتافریم اولیه وجود داشتند.

در صورتی‌که بخواهیم از نام گروه‌ها و اعضای آن‌ها مطلع شویم می‌توانیم از ویژگی groups استفاده کنیم.</p>

In [4]:
grouped.groups

{'BMW X6': [3, 4, 5], 'Nissan Junior': [6, 7, 8, 9], 'Peykan': [0, 1, 2]}

<p>در خروجی سلول بالا، می‌بینید که نام هر مدل به عنوان کلید، و نمایه‌ی سطرهای مربوط به آن گروه روبروی آن‌ها ذکر شده است.

لطفاً دقت کنید که در این حالت دیتافریم بسیار ساده است و در دنیای واقعی معمولاً تعداد سطرها بسیار بیشتر از این تعداد است؛ بنابراین معمولاً به جای دریافت شماره‌ی نمایه‌ی اعضای هر گروه، از تعداد عناصر آن‌ها برای تحلیل استفاده می‌کنند. به منظور به‌دست آوردن تعداد اعضای هر گروه، از متد size() استفاده می‌کنیم.</p>

In [5]:
grouped.size()

model
BMW X6           3
Nissan Junior    4
Peykan           3
dtype: int64

<p>خروجی سلول بالا به معنی وجود سه ماشین BMW X6، چهار ماشین Nissan Junior و سه ماشین Peykan در دیتافریم نمایشگاه است؛ که این دیتافریم بر اساس مدل در متغیر grouped گروه‌بندی شده است.
اعمال توابع روی گروه‌ها

به‌طور کلی توابعی که می‌توان براساس گروه‌بندی اعمال کرد، به سه دسته‌ی زیر تقسیم می‌شوند:

    تجمیع (Aggregation): این توابع، برای تمامی اعضای هر گروه، تنها یک مقدار را به‌دست آورده و به کلید آن نسبت می‌دهند. مانند میانگین، مجموع و غیره.

    تبدیل (Transform): این توابع، تغییراتی را با توجه به دیگر داده‌های دسته روی هر داده اعمال می‌کنند. مانند نرمال‌سازی درون دسته‌ای.

    فیلتر (Filter): حذف برخی داده‌ها با توجه به اطلاعات دیگر اعضای گروه. مثلاً حذف داده‌هایی که مقداری کمتر از میانگین دارند.

توجه: در این درسنامه، به معرفی عملیات تجمیع می‌پردازیم و دو عملیات دیگر را در درسنامه‌ی بعدی خواهیم دید.
تجمیع

به‌طور کلی، این توابع در سه مرحله‌ی تقسیم، اعمال و ترکیب (Split-Apply-Combine) انجام می‌شوند:

    ابتدا با استفاده از تابع groupby، دیتافریم اولیه با توجه به کلید، تقسیم و دسته‌بندی می‌شود.

    سپس تابعی از نوع تجمیع روی هر گروه اعمال می‌شود تا برای هر گروه مقدار ثابتی را تولید کند.

    مقادیر خروجی گروه‌ها با هم ترکیب شده و دیتافریم جدیدی که نمایه‌های آن، مقادیر کلید گروه‌بندی هستند، تولید می‌شود.

برای اعمال توابع تجمیع، کافی است از متد agg() استفاده کنیم و تابع مورد نظر را به عنوان ورودی این متد بدهیم:</p>

In [6]:
grouped[['price','Weight (KG)']].agg('mean')

                     price  Weight (KG)
model
BMW X6         3933.333333  2286.666667
Nissan Junior   121.250000  1555.000000
Peykan           34.333333   993.333333

<p>همان‌طور که در سلول پیش دیدیم، با نوشتن نام تابع عملیات تجمیع به راحتی انجام شد؛ در حالت‌هایی که این توابع از قبل در پانداز موجود هستند (مانند حالت قبل)، می‌توانیم به‌صورت مستقیم نیز این توابع را اعمال کنیم:</p>

In [7]:
grouped[['price','Weight (KG)']].mean()

                     price  Weight (KG)
model
BMW X6         3933.333333  2286.666667
Nissan Junior   121.250000  1555.000000
Peykan           34.333333   993.333333

<p>با آن‌که خود پانداز، توابع مختلفی برای انجام محاسبات به‌صورت تجمیع را در اختیار ما می‌گذارد، اما باز هم گاهی لازم است تا توابع پیچیده‌تری را خودمان نوشته و استفاده کنیم. به داستان نمایشگاه ماشین برگردیم، همان‌طور که می‌بینید، محدوده‌ی قیمت‌ها و وزن‌های ماشین‌هایی که حتی از یک مدل هستند متفاوت است؛ برای دیدن تغییرات بازار و تفاوت ورژن‌های مختلف ماشین‌ها تابع peak_to_peak() را می‌نویسیم تا تفاوت بالاترین مقدار با پایین‌ترین مقدار را به ما بدهد.</p>

In [8]:
 def peak_to_peak(arr):
     return arr.max() - arr.min()

grouped[['price','Weight (KG)']].agg( peak_to_peak )

               price  Weight (KG)
model
BMW X6          2600          100
Nissan Junior     40           60
Peykan            23           10

<p>
می‌بینید که در این حالت، برای استفاده از تابعی که خودمان نوشته‌ایم به‌صورت تجمیعی، کافی‌ست تا نام تابع را به عنوان ورودی به متد agg بدهیم. دقت کنید که در اینجا، برعکس حالت‌های قبل، نام تابع به‌صورت رشته (string) ارسال نمی‌شود.

تمام حالت‌هایی که تاکنون بررسی کردیم، تنها یک تابع را به متد agg ارسال می‌کردند؛ حال فرض کنید می‌خواهیم برای هر مدل ماشین، تعداد ماشین‌های موجود را شمرده و میانگین، میانه و فاصله‌ی تغییرات قیمت را محاسبه کنیم:</p>

In [9]:
grouped['price'].agg(['count', peak_to_peak, 'median', 'mean'])

               count  peak_to_peak  median         mean
model
BMW X6             3          2600  4800.0  3933.333333
Nissan Junior      4            40   117.5   121.250000
Peykan             3            23    30.0    34.333333

<p>می‌بینید که با استفاده از براکت ([ ])، می‌توانیم چندین تابع را همزمان استفاده کرده و خروجی هر کدام را به‌صورت ستونی جداگانه در دیتافریم نهایی دریافت کنیم.

انواع کلید برای گروه‌بندی

استفاده از آرایه به عنوان کلید

مدیر نمایشگاه ماشین‌ها، بعد از بررسی صحبت‌های مشتریان، متوجه شد که در شهر، ماشین‌های دارای خوردگی مد شده‌اند! با آن‌که این موضوع به نظر او عجیب است اما برای افزایش خدمات مشتریان تصمیم گرفت تا جدولی برای نشان دادن محدوده‌ی قیمت ماشین‌ها بر اساس میزان خوردگی بسازد و به مشتریان جدید بدهد تا انتخاب‌های بهتری داشته باشند. بنابراین یکی از کارمندان خود را موظف کرد تا آرایه‌ای از میزان خوردگی هر ماشین ساخته و به او بدهد. در سلول زیر، متغیر car_impact شامل همین آرایه است. حال برای انجام گروه‌بندی کافی‌ست تا این آرایه را به عنوان کلید به تابع groupby() بدهیم.</p>

In [10]:
car_impact = ['low', 'high', 'medium', 'high', 'low', 'medium', 'medium', 'low', 'low', 'high']
cars_df.groupby(car_impact)['price'].agg(['min', 'max'])

        min   max
high     30  2200
low      25  4800
medium   48  4800

<p>

همان‌طور که می‌بینید، تابع groupby، هر مقدار آرایه‌ی car_impact را با سطرهای دیتافریم ‍cars_df تناظر داده و بر اساس مقادیر یکتای آرایه گروه‌بندی را انجام می‌دهد. در این حالت، نمایه‌های دیتافریم خروجی مقادیر آرایه‌ی car_impact هستند و بر همین اساس مقادیر کمینه و بیشینه‌ی قیمت محاسبه می‌شود.

استفاده از تابع به عنوان کلید

با آن‌که استفاده از آرایه‌ها یا سری‌های مختلف به عنوان کلید پرکاربرد است، اما در بسیاری موارد که دیتافریم بزرگ است نمی‌توانیم برای هر سطر یک مقدار جدید تعریف کرده تا از آن برای گروه‌بندی استفاده کنیم؛ در چنین حالت‌هایی، استفاده از تابعی که روی نمایه‌های دیتافریم اعمال شود بسیار پرکاربرد خواهد بود.

برای مثال تصور کنید که دیتافریم ماشین‌ها دارای نمایه‌های عددی است که نشان‌دهنده‌ی شماره‌ی فاکتور خرید ماشین‌ها است. خوشبختانه این نمایشگاه شماره‌های فاکتور خود را با الگوی خاصی ثبت می‌کند و اولین رقم هر فاکتور، نشان‌‌دهنده‌ی سال خرید آن ماشین از شروع نمایشگاه است. مدیر نمایشگاه، برای انجام تحلیل‌ قیمت‌ها و محاسبه‌ی رشد نمایشگاه، می‌خواهد تا بر اساس سال، مجموع قیمت ماشین‌های موجود را داشته باشد. در این حالت، کافی‌ست تا تابعی برای پیدا کردن سال خرید ماشین بنویسیم:</p>

In [11]:
cars_df.index = [3523, 2636, 1031, 2159, 2973, 1083, 3214, 1111, 2525, 2445]

def factor_split(number):
    return np.array(number/1000).astype(int)

factor_split(cars_df.index)

array([3, 2, 1, 2, 2, 1, 3, 1, 2, 2])

<p>Plain text
تابع factor_split، با تقسیم عدد بر ۱۰۰۰، اولین رقم شماره‌ی فاکتور (نمایه) که نشان‌دهنده‌ی سال خرید ماشین است را به‌دست می‌آورد و با تبدیل آن به int، از رقم‌های اعشاری آن خلاص می‌شود. در کد بالا، اعمال این تابع روی نمایه‌های دیتافریم cars_df را می‌بینیم. حال برای انجام گروه‌بندی بر اساس این اعداد، کافی است تا نام تابع را به عنوان کلید گروه‌بندی به تابع groupby بدهیم.</p>

In [12]:
cars_df.groupby(factor_split)['price'].sum()

1    4953
2    7305
3     130
Name: price, dtype: int64

<p>در این حالت، خود تابع groupby، تابع factor_split را روی نمایه‌های دیتافریم اعمال کرده و با توجه به خروجی آن، گروه‌بندی را انجام می‌دهد. در خروجی سلول بالا، مجموع قیمت ماشین‌ها را می‌بینیم که بر اساس رقم اول فاکتور (سال خرید) گروه‌بندی شده‌اند.

استفاده از چند کلید برای گروه‌بندی

همان‌طور که در درسنامه‌های پیشین دیدیم، قیمت ماشین‌ها با توجه به سال ساخت آن‌ها نیز تغییر می‌کند؛ بنابراین، برای تحلیل بهتر لازم است تا گروه‌بندی میانگین قیمت را، با توجه به مدل ماشین و نیز سال ساخت آن در نظر بگیریم. برای این کار کافی است تا به جای نام تنها یکی از ستون‌ها، آرایه‌ای از نام‌ها را به عنوان کلید استفاده کنیم:</p>

In [13]:
price_datas = cars_df.groupby(['model', 'year'])['price'].mean()
price_datas

model          year
BMW X6         1391    2200.0
               1393    4800.0
Nissan Junior  1375     117.5
               1383     105.0
               1389     145.0
Peykan         1346      25.0
               1357      30.0
               1388      48.0
Name: price, dtype: float64

<p>در خروجی سلول بالا، model و year، همزمان به عنوان نمایه شناخته می‌شوند و برای هر مدل ماشین، سال ساخت‌های موجود نمایش داده شده و میانگین قیمت در آن حالت را مشاهده می‌کنیم. می‌بینید که در این حالت نیز کار با خروجی تابع گروه‌بندی دقیقاً مانند حالت‌های قبلی است و برای اعمال توابع می‌توانید از هر کدام از توابع تجمیع و یا توابعی که در درسنامه‌های آینده با آن آشنا می‌شوید، استفاده کنید.</p>