In [1]:
import pandas as pd
import numpy as np

cars_dictionary = {
    "Color" :["Red", "White", "Black", "White", "Blue", "Red", "Silver"],
    "HP" :[48, 335, 105, 87, 93, 80, 48],
    "Weight (KG)": [990, 2320, 1025, 1027, 1540, 960, 850],
    "price" :[33, 2400, 105, 120, 230, 68, 38]
}

df = pd.DataFrame(cars_dictionary , index = [ "Peykan", "BMW X6", "Peugeot 206", "Tiba", "Nissan Junior", "Peykan Vanet", "renault 5"])

df

                Color   HP  Weight (KG)  price
Peykan            Red   48          990     33
BMW X6          White  335         2320   2400
Peugeot 206     Black  105         1025    105
Tiba            White   87         1027    120
Nissan Junior    Blue   93         1540    230
Peykan Vanet      Red   80          960     68
renault 5      Silver   48          850     38

In [2]:
df.price

Peykan             33
BMW X6           2400
Peugeot 206       105
Tiba              120
Nissan Junior     230
Peykan Vanet       68
renault 5          38
Name: price, dtype: int64

In [3]:
df.price > 110

Peykan           False
BMW X6            True
Peugeot 206      False
Tiba              True
Nissan Junior     True
Peykan Vanet     False
renault 5        False
Name: price, dtype: bool

In [4]:
df[df.price > 110]

               Color   HP  Weight (KG)  price
BMW X6         White  335         2320   2400
Tiba           White   87         1027    120
Nissan Junior   Blue   93         1540    230

In [5]:
df[ (df.Color == "Red") & (df.price < 50)]

       Color  HP  Weight (KG)  price
Peykan   Red  48          990     33

In [6]:
df[df.price > 110][["Color" , "price"]]

               Color  price
BMW X6         White   2400
Tiba           White    120
Nissan Junior   Blue    230