<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قشر کتاب‌خوان
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این تمرین برای کمک به قشر کتابخوان می‌خواهیم به تحلیل داده‌های سایت <i>goodreads</i> بپردازیم و اطلاعات جالب و کاربردی‌ای را از آن استخراج کنیم.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مجموعه‌داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
اطلاعات کتاب‌ها در فایل <code>books_db.csv</code>،‌ نویسندگان در فایل <code>authors.csv</code>، ناشران در فایل <code>publisher.csv</code> و زبان‌ها در فایل <code>language.csv</code> قرار گرفته است. به‌کمک پانداز هرکدام از این فایل‌ها را خوانده و در متغیر متناظر آن ذخیره کنید.
</font>
</p>

In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv('./books_db.csv')
authors = pd.read_csv('./authors.csv')
language = pd.read_csv('./language.csv')
publisher = pd.read_csv('./publisher.csv')
authors.head(1)

           name
0  J.K. Rowling

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت اول
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
همان‌طور که مشاهده می‌کنید در مجموعه‌داده‌ی اصلی (کتاب‌ها)، مقادیر سه ستون <code>lang_id</code>، <code>author_id</code> و <code>publisher_id</code> تنها به‌صورت آیدی (<code>id</code>) هستند. این آیدی‌ها با شماره‌ی نمایه‌ها در سایر دیتافریم‌ها متناظر هستند. در این قسمت قصد داریم تا طبق این نمایه‌ها،‌ اطلاعات کامل‌شان را از دیتافریم مربوطه استخراج کرده و به دیتافریم <code>df</code> اضافه کنیم. بنابراین سه دیتافریم <code>authors</code>، <code>language</code> و <code>publisher</code> را به‌شکل مناسبی با دیتافریم <code>df</code> ادغام (<code>merge</code>) کنید.
</font>
</p>

In [14]:
pd.merge(df, authors,left_on=['author_id'], right_index=True)

df.head(1)

,bookID,title,average_rating,isbn,isbn13,num_pages,ratings_count,text_reviews_count,publication_date,author_id,lang_id,publisher_id
0,1,Harry Potter and the Half-Blood Prince (Harry ...,4.57,439785960,9.780440e+12,652,2095690,27591,9/16/2006,0,0,0

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
حال که تمام مقادیر اضافه شده‌اند، نیازی به سه ستون <code>id</code> که به‌عنوان کلید استفاده کردیم نداریم. پس آن‌ها را با استفاده از دستور <code>drop</code> حذف می‌کنیم.
        در درسنامه‌های بعدی نحوه‌ی کار با این دستور را یاد خواهید گرفت.    
</font>
</p>

In [3]:
df.drop(columns = ['author_id', 'lang_id', 'publisher_id'], inplace = True)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت دوم
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
حال نام ستون‌های دیتافریم را به‌گونه‌ای تغییر دهید که به‌ترتیب از چپ به راست برابر نام‌های زیر باشد:
<ul>
<li><code>bookID</code></li>
<li><code>title</code></li>
<li><code>average_rating</code></li>
<li><code>isbn</code></li>
<li><code>isbn13</code></li>
<li><code>num_pages</code></li>
<li><code>ratings_count</code></li>
<li><code>text_reviews_count</code></li>
<li><code>publication_date</code></li>
<li><code>author</code></li>
<li><code>lang</code></li>
<li><code>publisher</code></li>
</font>
</p>

In [4]:
df.columns = [
    'bookID',
    'title',
    'average_rating',
    'isbn',
    'isbn13',
    'num_pages',
    'ratings_count',
    'text_reviews_count',
    'publication_date',
    'author',
    'lang',
    'publisher'
]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت سوم
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
اکنون میانگین امتیاز کتاب‌های هر انتشاراتی را محاسبه کرده و حاصل را در متغیر <code>publisher_rating</code> ذخیره کنید.
</font>
</p>

In [5]:
publisher_rating = df.groupby('publisher')['average_rating'].mean().reset_index()
publisher_rating

                          publisher  average_rating
0                            18-Oct            3.31
1                  1st Book Library            4.22
2                 1st World Library            3.71
3     A & C Black (Childrens books)            3.91
4     A Harvest Book/Harcourt  Inc.            4.44
...                             ...             ...
2285                   聯經出版事業股份有限公司            3.79
2286                   英文漢聲出版股份有限公司            4.01
2287         角川書店 (Kadokawa Shoten)            4.46
2288                            講談社            3.96
2289                            集英社            3.76

[2290 rows x 2 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت چهارم
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این قسمت ابتدا ستونی با نام <code>num_pages_grp</code> به دیتافریم اضافه کنید که در آن تعداد صفحات کتاب را به‌صورت بازه‌های زیر نشان دهد:
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>

| <b>مقدار</b> | <b>توضیح</b> |
| :---: | :---: | 
| <code dir=ltr><250</code> | کمتر از ۲۵۰ صفحه |
| <code dir=ltr>250-499</code> | از ۲۵۰ تا ۴۹۹ صفحه |
| <code dir=ltr>500-749</code> | از ۵۰۰ تا ۷۴۹ صفحه |
| <code dir=ltr>750-999</code> | از ۷۵۰ تا ۹۹۹ صفحه |
| <code dir=ltr>>=1000</code> | بیشتر یا مساوی ۱۰۰۰ صفحه |

</font>
</div>
</center>


<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
<span style="color:green"><b>راهنمایی :</b></span>
 برای این کار می‌توانید از تابع <code>np.select</code> استفاده کنید. 
</font>
</p>

In [6]:
bins = [-1, 250, 499, 749, 999, float('inf')]
labels = ['<250', '250-499', '500-749', '750-999', '>=1000']

df['num_pages_grp'] = pd.cut(df['num_pages'], bins=bins, labels=labels)


<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
حال می‌خواهیم بدانیم هر نویسنده چند کتاب در هرکدام از این بازه‌ها نوشته است. یعنی حاصل باید چیزی شبیه به جدول زیر باشد:

</font>
</p>

A.B. Yehoshua          250-499          1
                       500-749          1
A.D.P. Briggs          250-499          1
A.E. Cunningham        <250             1
A.J. Jacobs            250-499          1

In [7]:
author_page = df.groupby(['author', 'num_pages_grp']).size().reset_index(name='count')
author_page

C:\Users\ROOZBEH\AppData\Local\Temp\ipykernel_12100\998136338.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  author_page = df.groupby(['author', 'num_pages_grp']).size().reset_index(name='count')

                      author num_pages_grp  count
0              A.B. Yehoshua          <250      0
1              A.B. Yehoshua       250-499      1
2              A.B. Yehoshua       500-749      0
3              A.B. Yehoshua       750-999      0
4              A.B. Yehoshua        >=1000      0
...                      ...           ...    ...
21075  Éric-Emmanuel Schmitt          <250      0
21076  Éric-Emmanuel Schmitt       250-499      1
21077  Éric-Emmanuel Schmitt       500-749      0
21078  Éric-Emmanuel Schmitt       750-999      0
21079  Éric-Emmanuel Schmitt        >=1000      0

[21080 rows x 3 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [8]:
import zlib
import zipfile

df.to_csv('books_result.csv', index=False)
publisher_rating.to_csv('publisher_rating.csv', index=True)
author_page.to_csv("author_page.csv", index=True)

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["books_result.csv", "publisher_rating.csv", "author_page.csv", "book_readers.ipynb"]
compress(file_names)

File Paths:
['books_result.csv', 'publisher_rating.csv', 'author_page.csv', 'book_readers.ipynb']


<br />
<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size
        سلاموری ارسال کنید.
  </p>
</div>