In [1]:
import numpy as np
import pandas as pd

<p>ฺฏุณุณุชูโุณุงุฒ (Discretization) ุจู ูุนู ุชูุณู ููุฏุงุฑ ูพูุณุชูโ ฺฉ ูุชุบุฑ ุจู ุจุงุฒูโูุง ูุดุฎุต ุงุณุช. ูุนูููุงู ุงู ุจุงุฒูโูุง ุชุฑุชุจ ูุดุฎุต ุฏุงุฑูุฏ. ูุซูุงูุ ุณู ฺฉู ุจู ุดฺฉู ุนุฏุฏ ุจุงู ุดุฏู ุงุณุช ุฑุง ูโุชูุงู ฺฏุณุณุชู ฺฉุฑุฏุ ุงฺฏุฑ ุนููุงุช ฺฏุณุณุชูโุณุงุฒ ุฑู ุณู ุงูุฌุงู ุดูุฏุ ูโุชูุงูู ุจุงุฒูโูุง ุณู ุฏุงุดุชู ุจุงุดู. ูุซูุงู: ยซฺฉูุฏฺฉยปุ ยซููุฌูุงูยป ู ยซุจุฒุฑฺฏุณุงูยป.

ุจุฑุง ฺฏุณุณุชูโุณุงุฒ ุฑูุด ฺฉุชุง ูุฌูุฏ ูุฏุงุฑุฏ. ุจุฑุง ุงู ฺฉุงุฑุ ฺฉุชุงุจุฎุงููโ ูพุงูุฏุงุฒ ุชุงุจุน cut ุฑุง ุจู ููู ููุธูุฑ ูพุดููุงุฏ ุฏุงุฏูโุงุณุชุ ุงูุง ูุง ูโุชูุงูู ุจุฏูู ุงุณุชูุงุฏู ุงุฒ ุชุงุจุน cut ูุฒ ฺฏุณุณุชูโุณุงุฒ ุงูุฌุงู ุฏูู.

ูุญุชูุง ุงู ุฏุฑุณูุงูู ุฏุฑ ุฏู ุจุฎุด ุงุฑุงุฆู ูโุดูุฏ. ุฏุฑ ุจุฎุด ุงูู ฺฏุณุณุชูโุณุงุฒ ุฑุง ุจุฏูู ุงุณุชูุงุฏู ุงุฒ ุชุงุจุน cut ุชูุฑู ูโฺฉูู ู ุฏุฑ ุจุฎุด ุฏููุ ูุญูู ุงุณุชูุงุฏู ุงุฒ ุชุงุจุน cut ุฑุง ูโุขููุฒู.</p>

<h3>ฺฏุณุณุชูโุณุงุฒ ุจุฏูู cut</h3>
<p>ุจูโุนููุงู ูุซุงูุ ูุฑุถ ฺฉูุฏ ุฏุฑ ุญุงู ุชุญูู ุฏุงุฏูโูุง ูุฑุจูุท ุจู ุงูุฑฺุงูุณ ุจูุงุฑุณุชุงูโูุง ุดูุฑ ุงุตููุงู ุฏุฑ ุดูุฑูุฑ ูุงู ฑดฐฐ ูุณุชุฏ. ูโุฎูุงูุฏ ุจุฑุฑุณ ฺฉูุฏ ฺฉู ุชุนุฏุงุฏ ุฏูุนุงุช ุงุนุฒุงู ุขูุจููุงูุณ ฺฺฏููู ุฏุฑ ุณุงุนุงุช ุดุจุงููโุฑูุฒ ุชูุฒุน ุดุฏู ุงุณุชุ ุจูโ ุนุจุงุฑุช ุฏฺฏุฑุ ุฏุฑ ูุฑ ุณุงุนุช ุงุฒ ุฑูุฒ ฺูุฏ ุจุงุฑ ุขูุจููุงูุณโูุง ุงูุฑฺุงูุณ ุดูุฑ ุงุตููุงู ุจู ูุญู ุงุนุฒุงู ุดุฏูโุงูุฏ.

ุจุง ุงุฌุฑุง ุณููู ุฒุฑุ ุฏุชุงูุฑู df ุงุฌุงุฏ ูโุดูุฏ. ุณุชูู timeุ ุฒูุงู ฺฉู ฺฉ ุขูุจููุงูุณ ุงุนุฒุงู ุดุฏูโ ุฑุง ูุดุงู ูโุฏูุฏ ู ุณุชูู areaโุ ููุทููโุง ุฑุง ูุดุงู ูโุฏูุฏ ฺฉู ุขูุจููุงูุณ ุจู ุขูโุฌุง ุงุนุฒุงู ุดุฏู ุงุณุช. ุจูโุนููุงู ูุซุงูุ ุณุทุฑ ุงูู ุงุทูุงุนุงุช ุขูุจููุงูุณ ุฑุง ุจูโุฏุณุช ูโุฏูุฏ ฺฉู ุฏุฑ ุณุงุนุช ฑฒ:ฒด:ฐฐ ุจู ููุทููโ ฒ ุงุตููุงู ุงุนุฒุงู ุดุฏู ุงุณุช.</p>

In [2]:
from datetime import datetime
times = [datetime(2021,8,24, 12, 24), datetime(2021,9,2, 23, 49), datetime(2021,9,10, 2, 15), datetime(2021,8,30, 16, 35),\
         datetime(2021,9,4, 15, 40), datetime(2021,9,14, 18, 0), datetime(2021,9,12, 21, 0), datetime(2021,9,17, 20, 12),\
         datetime(2021,9,1, 7, 4), datetime(2021,9,10, 14, 20)]

df = pd.DataFrame()
df['time'] = times
df['area'] = [2, 4, 10, 4, 3, 1, 7, 5, 2, 8]
df

                 time  area
0 2021-08-24 12:24:00     2
1 2021-09-02 23:49:00     4
2 2021-09-10 02:15:00    10
3 2021-08-30 16:35:00     4
4 2021-09-04 15:40:00     3
5 2021-09-14 18:00:00     1
6 2021-09-12 21:00:00     7
7 2021-09-17 20:12:00     5
8 2021-09-01 07:04:00     2
9 2021-09-10 14:20:00     8

<p>ุจุฑุง ุชุญูู ุขูโฺู ุฏุฑ ุจุงูุง ฺฏูุชู ุดุฏู ุจูุฏ (ุฏูุนุงุช ุงุนุฒุงู ุฏุฑ ุณุงุนุงุช ฺฉ ุดุจุงููโุฑูุฒ) ุฏู ุฑุงู ูุฌูุฏ ุฏุงุฑุฏ.

    ูโุชูุงูู ุณุชูู time ุฑุง ุชุบุฑ ูุฏูู ู ูุฑุถุงู ูุญุงุณุจู ฺฉููุ ุฏุฑ ุณุงุนุช ฒ:ฑต:ฐฐ ฺูุฏ ูุฑุชุจู ุขูุจููุงูุณ ุงุนุฒุงู ุดุฏู ุงุณุช. (ุจู ูุธุฑ ุดูุงุ ฺูุฏ ุณุทุฑ ูุฌูุฏ ุฏุงุฑุฏ ฺฉู ุณุงุนุช ุงุนุฒุงู ุขูุจููุงูุณ ุฏุฑ ุขูโูุง ุจุฑุงุจุฑ ฒ:ฑต:ฐฐ ุจุงุดุฏุ!)
    ุฑุงูโุญู ุฏฺฏุฑ ุงู ุงุณุช ฺฉู ุณุงุนุชโูุง ููุดุชู ุดุฏู ุฏุฑ ุณุชูู time ุฑุง ฺฏุณุณุชู ฺฉูู. ูโุชูุงูู ฒด ุณุงุนุช ุดุจุงููโุฑูุฒ ุฑุง ุทุจู ุฌุฏูู ุฒุฑ ุจู ต ูุณูุช ุชูุณู ฺฉูู:
</p>

In [3]:
from datetime import time
dawn = time(hour=7,minute=0,second=0)
morning = time(hour=11,minute=0,second=0)
noon = time(hour=15,minute=0,second=0)
afternoon = time(hour=19,minute=0,second=0)

def discretize_time (time) :
  if time.time() < dawn :
    return "dawn"
  elif time.time() < morning :
    return "morning"
  elif time.time() < noon :
    return "noon"
  elif time.time() < afternoon :
    return "afternoon"
  else : return "night"

df['time'] = df.time.apply(discretize_time)
df

        time  area
0       noon     2
1      night     4
2       dawn    10
3  afternoon     4
4  afternoon     3
5  afternoon     1
6      night     7
7      night     5
8    morning     2
9       noon     8

<p>
Plain text

ูพุณ ุงุฒ ุงุนูุงู ุงู ุชุบุฑุ ุชุญูู ุฏุงุฏู ุจุณุงุฑ ุฑุงุญุชโุชุฑ ุงุณุช. ุงฺฏุฑ ูุจูุงู ูุฑ ุณุทุฑ ฺฉ time ูุฎุชุต ุจู ุฎูุฏ ุฏุงุดุชุ ุฏุฑ ูุฌููุนูโุฏุงุฏูโ ุฌุฏุฏุ ุณุทุฑโูุง ูุฌูุฏ ุฏุงุฑูุฏ ฺฉู ููุฏุงุฑ ุณุชูู time ฺฉุณุงู ุฏุงุฑูุฏ.

ุญุงู ุจู ูุธุฑ ุดูุงุ ููู ฺฉุฏุงู ฺฉ ุงุฒ ุงู ุฏู ุฌุฏูู ุฑุงุญุชโุชุฑ ุงุณุชุ! ุจุง ูฺฏุงู ฺฉุฑุฏู ุจู ฺฉุฏุงู ุฌุฏููุ ูุณุจุช ุจู ุฒูุงู ุงุนุฒุงู ุขูุจููุงูุณโูุง ุงุตููุงู ุดููุฏ ุจูุชุฑ ูพุฏุง ฺฉุฑุฏุฏุ</p>

<h3>ูุนุฑู ุชุงุจุน cut๐</h3>
<p>ุฑูุดโูุง ูุฎุชูู ุจุฑุง ฺฏุณุณุชูโุณุงุฒ ูุฌูุฏ ุฏุงุฑุฏ. ฺฉ ุงุฒ ุฑุงูโูุง ฺฉู ูพุงูุฏุงุฒ ุจุฑุง ฺฏุณุณุชูโุณุงุฒ ูุนุฑู ูโฺฉูุฏุ ุงุณุชูุงุฏู ุงุฒ ุชุงุจุน cut ุงุณุช. ุงู ุชุงุจุน ุจุง ุฏุฑุงูุช ุณุงุฎุชูุงูโโุฏุงุฏูโุง ุดุจู ุจู ุขุฑุงู (ฺฉู ุจุงุฏ ฺฉโุจุนุฏ ุจุงุดุฏ) ู ูุฑุฒโูุง ุชูุณูโุจูุฏุ ุขุฑุงูโ ูุฑูุฏ ุฑุง ฺฏุณุณุชูโุณุงุฒ ูโฺฉูุฏ. ุฏุฑ ูุงู ูุชโุจูฺฉ ุฏุฑุณูุงููุ ุฌุฒุฆุงุช ุชุงุจุน ู ุฌุฏูู ูพุงุฑุงูุชุฑูุงุด ุฑุง ุงุถุงูู ฺฉุฑุฏูโุงู.

ุชุตูุฑ ฺฉูุฏ ูุงู ู ุณู ธ ููุฑ ุฑุง ุฏุฑ ุงุฎุชุงุฑ ุฏุงุฑุฏ.</p>

In [4]:
df = pd.DataFrame()
df['name'] = ["helma","sajede","ali","hossein","mohsen","haniye","hasan","sajjad"]
df['age'] = [5, 15, 12, 60, 35, 17, 71, 23]
df

      name  age
0    helma    5
1   sajede   15
2      ali   12
3  hossein   60
4   mohsen   35
5   haniye   17
6    hasan   71
7   sajjad   23

In [5]:
bins = [1, 11, 18, 35, 50, 100]
labels = ["child", "teenager", "young", "middleaged", "old"]
df['age'] = pd.cut(df.age, bins, labels=labels)
df

      name       age
0    helma     child
1   sajede  teenager
2      ali  teenager
3  hossein       old
4   mohsen     young
5   haniye  teenager
6    hasan       old
7   sajjad     young

<p>ฺฏุณุณุชูโุณุงุฒ ุนููุงุช ุงุณุช ฺฉู ุจุดุชุฑ ุฏุฑ ฺฏุงู ูพุดโูพุฑุฏุงุฒุด ุงุฏฺฏุฑ ูุงุดู ุงูุฌุงู ูโุดูุฏุ ุจูุงุจุฑุงู ุงุณุชูุงุฏู ุจู ูููุน ุงุฒ ฺฏุณุณุชูโุณุงุฒุ ุจู ุจูุจูุฏ ุนููฺฉุฑุฏ ูุฏูโูุง ุงุฏฺฏุฑ ูุงุดู ฺฉูฺฉ ุดุงุงู ูโฺฉูุฏ. ุงูุง ฺฏุณุณุชูโุณุงุฒ ุฏุฑ ุชุญูู ุฏุงุฏู ูู ุจโุชุงุซุฑ ูุณุช.

    ููฺฉู ุงุณุช ููุงุฏุฑ ฺฉ ุณุชูู ุฏุงุฑุง ููุฒ ุจุงุดุฏ. ุจุง ฺฏุณุณุชูโุณุงุฒ ูโุชูุงูู ุงุซุฑ ููุฒ ุฑุง ฺฉุงูุด ุฏูู. ููุธูุฑ ุงุฒ ููุฒุ ุชุบุฑุงุช ฺฉูฺฺฉ ุงุณุช ฺฉู ุฑู ุงุทูุงุนุงุช ุงุนูุงู ุดุฏู ุงุณุช.
    ุจุณุชู ุจู ุตูุฑุชโูุณุฆููโุง ฺฉู ุจู ุฏูุจุงู ุญู ุขู ูุณุชูุ ฺฏุณุณุชูโุณุงุฒ ูโุชูุงูุฏ ููุฏ ุจุงุดุฏ. ูุซูุง ุฏุฑ ูุณุฆูู ุจุงุฒุงุฑุงุจุ ุณู ุงูุฑุงุฏ ูโุชูุงูุฏ ฺฏุณุณุชูโ ุดูุฏ. ูุฑูุดฺฏุงู ุขูุงุฒูู ุจุฑุง ูพุดููุงุฏ ฺฉุงูุง ูโุชูุงูุฏ ุณูููโโ ุงูุฑุงุฏ ฒฒ ุณุงูู ุฑุง ุจุง ุงูุฑุงุฏ ฒณุ ฒด ุง ุญุช ฒฐ ุณุงูู ฺฉุณุงู ุชุตูุฑ ฺฉูุฏ. ูพุณ ุฏุฑ ุงู ูุซุงู ุจุง ุดุฑุท ุงูฺฉู ูโุฎูุงูู ููุท ุงุฒ ุณู ุจุฑุง ูพุดููุงุฏ ฺฉุงูุง ุงุณุชูุงุฏู ฺฉููุ ูโุชูุงู ุณูู ฒฐ ุชุง ฒต ุฑุง ุฏุฑ ฺฉ ุฏุณุชู ูุฑุงุฑ ุฏุงุฏ!
</p>